body
{

    background-color: rgb(253, 251, 251);
    margin: 0px;
    padding-top: 100px;
    overflow-x: hidden;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header
{

    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(3, 71, 20);
    color: white;
    padding-left: 40px;
    padding-bottom: 10px;
    box-shadow: -2px 2px 20px black;
    z-index: 10;
}

article
{

    line-height: 16px;
}

nav a
{

    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
    margin-left: 5px;
    
}

#minha_foto
{

    position: relative;
    left: -23px;
    width: 300px;
    border-radius: 5px;
    z-index: 2;
}
