body
{

    background-color: rgb(253, 251, 251);
    margin: 0px;
    padding-top: 100px;
    overflow-x: hidden;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1690px;
}

header
{

    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(3, 71, 20);
    color: white;
    padding-left: 40px;
    padding-bottom: 10px;
    box-shadow: -2px 2px 20px black;
    z-index: 10;
    user-select: none;
}

article
{

    line-height: 16px;
}

nav a
{

    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
    margin-left: 5px; 
}

section
{

    width: fit-content;
}

section h2
{

    border: 3px solid rgb(4, 109, 51);
    text-align: center;
    margin-bottom: -10px;
}

ol
{

    position: relative;
    border: 3px solid rgb(5, 168, 79);
    width: 150px;
    display: inline-block;
    user-select: none;
}

ul
{

    position: relative;
    border: 3px solid rgb(5, 168, 79);
    width: 150px;
    display: inline-block;
    user-select: none;
}

.lado-esquerdo
{

    position: absolute;
    float: left;
    border: 2px solid red;
    width: 392px;
    top: auto;
}

.lado-direito 
{

    position: absolute;
    float: right;
    border: 2px solid green;
    width: 300px;
    left: 400px;
    top: auto;
}

table
{

    position: relative;
    border: 3px solid orange;
    top: -540px;
    left: 500px;
    text-align: center;
}

#minha_foto
{

    position: relative;
    left: -23px;
    width: 300px;
    border-radius: 5px;
    z-index: 2;
}

footer
{

    position: fixed;
    text-align: center;
    width: 100%;
    height: fit-content;
    top: 97.5%;
    z-index: 100;
    user-select: none;
    background-color: rgb(3, 71, 20);
    color: white;
    box-shadow: 0px -1px 20px black;
    padding-bottom: 1000px;
}

.void
{
    position: relative;
    top: 185px;
    width: 100%;
    margin-bottom: 150px;
}

.try-me
{

    position: fixed;
    width: 55px;
    height: 200px;
    top: 450px;
    left: 1250px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 3px solid rgb(13, 167, 13);
    background-color: rgb(3, 184, 3);
    box-shadow: 5px 5px 10px black;
    user-select: none;
    color:rgb(0, 63, 0);
    transition-property: top, color;
    transition-delay: 2s, 3s;
    transition-duration: 1s, 1s;
}

.try-me:hover
{

    top: 650px;
    color: transparent;
    transition-property: top, color;
    transition-delay: 0s, 0s;
    transition-duration: .2s, .0s;
}


.face
{
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 10px;
    left: 5px;
    font-size: 40px;
    transform: rotate(90deg);
    color: white;
    font-weight:500;
    text-shadow: 0px 0px 5px white;
}

.face-text
{

    position: fixed;
    width: 100px;
    left: 1232px;
    top: 420px;
    font-weight: bold;
}

.hitbox
{

    position: fixed;
    left: 1100px;
    top: 325px;
    padding: 300px 200px 50px;
}

